.pagetable-link {
	margin-left: 3px;
	margin-right: 3px;
	text-decoration: none;
	display: inline;
	vertical-align: bottom;
}

.pagetable-link:hover {
	color: #E8E288;
}

.pagetable-link.selected {
	color: #B5B1B2;
}

.pagetable-meta-container {
	overflow: auto;
}

.pagetable-buttons {
	margin: auto;
	vertical-align: middle !important;
	text-align: center;
}

.sticky-header {
	position: sticky;
}