
.stories-box {
	align-content: center;
	align-items: center;
	box-shadow: 3px 3px 10px #9197AE;
	padding: 5px;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	vertical-align: top;
	height: auto;
	vertical-align: top;
	text-align: center;
	overflow: auto;
}

.small-font {
	font-size: 10pt;
	padding: 0;
	padding-right: 3px;
	margin: 0;
}

.stories-box-title {
	text-align: left;
	margin-left: 4px;
	margin-top: 0;
	margin-bottom: 5px;
	font-family: "Didact Gothic"
}

.stories-button-container {
	display: inline-block;
	height: 180px;
	padding: 5px;
}

.stories-button-table {
	display: table;
	height: 100%;
}

.stories-button-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.story {
	min-width: 180px;
	width: 15%;
	height: 180px;
	border: solid 2.5px #424242;
	display: inline-block;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: top;
	position: relative;
	background-color: #EFEFEF;
	cursor: pointer;
	user-select: none;
}

.story-content {
	vertical-align: middle;
	padding: 2px;
	max-height: 130px;
	overflow: auto;
	word-wrap: break-word;
}

.story-author {
	position: absolute;
	bottom: 0;
	width: 100%;
	vertical-align: bottom;
	margin-bottom: 3px;
	text-align: right;
	padding-right: 3px;
}

.stories-link {
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	font-size: 12pt;
	margin: 0;
	margin-right: 3px;
	font-family: "Didact Gothic" !important;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 95%;
}